/* ==== Загальні стилі ==== */
/** {
  outline: 1px solid red;
}*/

/* ==== Утилітні класи ==== */
.hidden {
  display: none;
}


/* ==== Загальні стилі ==== */
body {
  font-family: Arial, sans-serif;
  margin: 0 60px;
  padding: 20px;
  background: #fff;
}

header {
  margin-bottom: 20px;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.logo-container {
  height: 100%;  
  display: flex;
  align-items: stretch;
}

.github-icon {
  width: auto;
  height: 100%; /*не працює*/
  object-fit: contain;
}

h1 {
  font-size: 28px;
  margin: 0;
}

/* ==== Кнопки ==== */
.top-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
  /*flex-wrap: wrap; якщо додастся більше кнопок */
}

.top-buttons button {
  flex: 1; /* Кожна кнопка займає однакову частку */
  text-align: center;  
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  white-space: nowrap; /* не переносити текст */
}

.main-layout {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar button {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  width: 135px;
}

.content-area {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  min-height: 300px;
  border-radius: 8px;
}

.github-icon {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
